/* CRUDClientes.css */

.CRUDClientes {
    margin-top: 20px;
  }
  
  .CRUDClientes h2 {
    margin-bottom: 10px;
  }
  
  .CRUDClientes table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .CRUDClientes th, .CRUDClientes td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .CRUDClientes th {
    background-color: #f2f2f2;
  }
  
  .CRUDClientes button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .CRUDClientes button:hover {
    background-color: #0056b3;
  }