<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Peliculas</title>
</head>
<body>

  <h1>Lista de Peliculas</h1>

  <a href="{{ url_for('pelicula.menu_peliculas') }}">Volver al Menú de Peliculas</a>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Duracion</th>
            <th>Inventario</th>
        </tr>
    </thead>
    <tbody>
        {% for pelicula in peliculas %}
            <tr>
                <td>{{ pelicula.idPelicula }}</td>
                <td>{{ pelicula.nombre }}</td>
                <td>{{ pelicula.genero }}</td>
                <td>{{ pelicula.duracion }}</td>
		<td>{{ pelicula.inventario }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
